@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container2 {
    width: 90%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

body {
    background: rgb(255, 255, 255);
}

.header {
    height: 80px;
    background: #fff;
    padding: 20px 0;
    position: relative;
}

.nav-bar img {
    position: relative;
    width: 6.5%;
    height: 1%;
    margin-top: 8px;
    margin-left: 11%;
}

ul {
    display: flex;
    list-style: none;
    line-height: 35px;
    margin-left: -480px;
}

ul li {
    margin: 7px 18px;
}

ul li a {
    position: relative;
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.login-button-isit {
    width: 120px;
    height: 39px;
    margin-top: 5px;
    border: 0px;
    background: rgba(64, 140, 255, 0.1);
    border-radius: 20px;
    color: #4058FF;
    font-size: 15px;
}

.login-button-isit:hover{
    position: absolute;
    height: 35px;
    left: 89%;
    width: 110px;
    background: #4058FF;
    box-shadow: 0px 4px 4px rgb(255, 255, 255);
    color: #fff;
    border-radius: 100px;
    border: none;
}

.ahref {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    margin-left: 43%;
    margin-top: 0.8%;
}


.menus {
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: inline;
    margin-left: 490px;
}

.list-item {
    display: flex;
    justify-content: space-around;
}

.SIR {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(18, 23, 34, 0.7);
    display: inline;
}

.blog {
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(18, 23, 34, 0.7);
    display: inline;
}

.ham {
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(18, 23, 34, 0.7);
    display: inline;
}

.SIR:hover{
    color: #000000;
    transition: 0.6s;
}

.ham:hover{
    color: #000000;
transition: 0.6s;
}

.blog:hover{
    color: #000000;
transition: 0.6s;
}


.addres {
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(18, 23, 34, 0.7);
}

.list-item {
    font-family: sans-serif;
}

.dragons h1 {
    margin-top: 170px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #121722;
    margin-left: 290px;
}

.dragons p {
    position: absolute;
    height: 27px;
    left: 15.2%;
    right: 51.81%;
    top: 430.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: rgba(18, 23, 34, 0.7);
}

.dragons h2 {
    position: absolute;
    height: 27px;
    left: 15.2%;
    right: 51.81%;
    top: 459.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: rgba(18, 23, 34, 0.7);
}

.dragons img {
    position: absolute;
    height: 469px;
    left: 41.88%;
    right: 4.22%;
    top: 170px;
    background: url(.jpg);
    border-radius: 0px;
}

.dragons button {
    position: absolute;
    height: 48px;
    left: 15%;
    right: 0%;
    top: 510px;
    width: 150px;
    background: #4058FF;
    box-shadow: 0px 4px 4px rgb(255, 255, 255);
    color: #fff;
    border-radius: 100px;
    border: none;
}

.parents-headers-no h1 {
    position: absolute;
    width: 683px;
    height: 42px;
    left: calc(50% - 683px/2 + 0.5px);
    top: 79%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #121722;
}

.parents-headers-no h2 {
    position: absolute;
    width: 537px;
    height: 42px;
    left: calc(50% - 537px/2 + 0.5px);
    top: 802px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height, or 117% */
    text-align: center;
    color: #121722;
}

.parents-headers-no p {
    position: absolute;
    width: 523px;
    height: 32px;
    left: calc(50% - 527px/2 + 0.5px);
    top: 860px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    /* identical to box height, or 152% */
    text-align: center;
    color: rgba(18, 23, 34, 0.7);
}

.rectangle {
    position: absolute;
    height: 662px;
    left: 17%;
    right: 0%;
    top: 100%;
    width: 65%;
    background: #4058FF;
    border-radius: 16px;
}

.rectangle h1 {
    position: absolute;
    height: 114px;
    left: 6%;
    right: 0.33%;
    top: 15%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 38px;
    color: #FFFFFF;
}

.rectangle p {
    position: absolute;
    height: 116px;
    left: 6%;
    right: 13.85%;
    top: 37%;
    display: inline-block;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #E8F1FF;
}

.rectangle h3 {
    position: absolute;
    height: 87px;
    left: 6%;
    right: 20.56%;
    top: 72%;
    display: inline-block;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #E8F1FF;
}

.rectangle hr {
    position: absolute;
    height: 1px;
    left: 6%;
    right: 0%;
    top: 68%;
    width: 30%;
    background: #4B93FF;
    border: #4B93FF;
}

.rectangle img {
    width: 730px;
    margin-left: 480px;
    height: 500px;
    margin-top: 5%;
}

.fab {
    display: flex;
    justify-content: space-around;
    color: rgb(153, 153, 153);
    
}

.flowers h1{
    margin-top: 16%;
    margin-left: 71%;
}

.flowers{
    position: absolute;
    height: 652px;
    left: 17%;
    right: 0%;
    top: 171%;
    width: 65%;
    background: #f4f8ff;
    border-radius: 16px;
}
.flowers p{
    margin-top: 1%;
    margin-left: 71%;
    position: absolute;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
/* or 145% */


color: rgba(18, 23, 34, 0.7);
}

.flowers img{
    margin-top: -20%;
    margin-left: 5%;
}


.asvg h1{
    position: absolute;
height: 30px;
left: 20%;
right: 49.62%;
top: 248%;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #121722;

}

.asvg{
    background-color: rgb(245, 243, 245);
    margin-top: 101.4%;
    height: 510px;
    width: 600px;
    margin-left: 17%;
    border-radius: 12px;
}



.asvg p{
    position: absolute;
height: 30px;
left: 20%;
right: 49.62%;
top: 252%;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #868686;

}




.asvg img{
    margin-top: 32%;
    margin-left: 6%;
}





.meta h1{
    position: absolute;
    height: 30px;
    left: 54%;
    right: 16.62%;
    top: 248%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #121722;
}



.meta{
    background-color: rgb(255, 247, 233);
    height: 510px;
    width: 600px;
    margin-left: 50.5%;
    border-radius: 12px;
    margin-top: -26.6%;
}



.meta p{
    position: absolute;
height: 30px;
left: 54%;
right: 18.57%;
top: 252%;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #868686;

}



.meta img{
    margin-top: 42%;
    margin-left: 6%;
}

.after-1{
    position: absolute;
width: 736px;
height: 42px;
left: calc(50% - 736px/2);
top: 308%;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height, or 117% */

text-align: center;

color: #121722;
}

.after-2{
    position: absolute;
width: 764px;
height: 32px;
left: calc(42.5% - 702px/3);
top: 314.2%;

font-family: sans-serif;
font-style: normal;
font-size: 21.8px;
line-height: 39px;
text-align: center;

color: rgba(18, 23, 34, 0.7);
}




.desert {
    position: absolute;
    height: 637px;
    left: 17%;
    right: 0%;
    top: 323%;
    width: 65%;
    background: #121722;
    border-radius: 16px;
}


.desert h1{
    position: absolute;
height: 38px;
left: 5%;
right: 24.83%;
top: 40%;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 38px;
color: #FFFFFF;

}

.desert h2{
    position: absolute;
    height: 38px;
    left: 5%;
    right: 23.7%;
    top: 46%; 
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 38px;
    color: #FFFFFF;
}

.desert p{
    position: absolute;
height: 87px;
left: 5%;
right: 19.82%;
top: 55%;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;
color: #B9C0D5;

}

.desert img{
    margin-top: 7%;
    width: 750px;
    margin-left: 36%;
}




.as-iv{
    position: absolute;
    left: 17%;
    right: 0%;
    top: 391.5%;
    height: 560px;
    width: 610px;
    background: #f5f9fd;
    border-radius: 16px;
}


.as-iv h1{
    position: absolute;
height: 30px;
left: 5%;
right: 27.63%;
top: 10%;
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 30px;
color: #121722;

}

.as-iv p{
    position: absolute;
height: 60px;
left: 5%;
right: 1.13%;
top: 19%;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
color: rgba(18, 23, 34, 0.6);
}

.as-iv img{
    margin-top: 29%;
    margin-left: 5%;
}




.as-iv2{
    position: absolute;
    left: 50.2%;
    right: 0%;
    top: 391.5%;
    height: 560px;
    width: 610px;
    background: #f5f9fd;
    border-radius: 16px;
}


.as-iv2 h1{
    position: absolute;
height: 30px;
left: 5%;
right: 27.63%;
top: 10%;
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 20px;
color: #121722;

}

.as-iv2 p{
    position: absolute;
height: 60px;
left: 5%;
right: 1.13%;
top: 19%;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;
color: rgba(18, 23, 34, 0.6);
}

.as-iv2 img{
    margin-top: 29%;
    margin-left: 5%;
}


.hello-world {
    position: absolute;
    height: 352px;
    left: 2.7%;
    right: 0%;
    top: 453%;
    width: 95%;
    background: #4058FF;
    border-radius: 16px;
}

.hello-world h1{
    position: absolute;
width: 339px;
height: 38px;
left: calc(50% - 339px/2 + 0.5px);
top: 124px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 38px;
/* identical to box height, or 112% */

text-align: center;

color: #FFFFFF;

}

.hello-world button{
    position: absolute;
height: 46px;
left: 46%;
right: 0%;
top: 55%;
color: #4058FF;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(18, 23, 34, 0.01);
border-radius: 100px;
width: 150px;
border: none;
font-family: sans-serif;
font-size: 16px;
font-weight: 600;
}

































































